.especializacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    margin-top: 0;
}
.Header{
    background-color: rgba(0, 110, 184, 0.897);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    color: white;
    height: 80px;
}
.CNTA{
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%; 
}
.Atendimentos{
    color: rgb(0, 61, 102);
    height: 90px;
    width: screen;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
[data-anime]{
    opacity: 0;
    transition: 2s;
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
@media  screen and (min-width: 1000px) and (max-width: 2000px) {
    .Atendimentos{
        height: 90px;
        width: 1000px;
        margin-left: 26%;
    }
    
}